/* Buttons */
.modal-button {
  background-color: rgb(74 74 232);
  font-size: 20px;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 6px;
  margin-top: 6px;
}

.no-button {
  background-color: rgb(235 93 93);
  font-size: 20px;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 6px;
}

/* Structure */
.row {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.mini-row {
  display: flex;
  text-align: center;
  justify-content: center;
}

/* Modal Box */
.box {
  background-color: white;
  border-radius: 4px;
  font-size: 16px;
  padding: 120px 200px;
}

.gradient-background {
  background-color: rgb(32 32 32);
  opacity: 0.2;
}

/* View toggle */
.view {
  display: inline;
}

.view-hidden {
  display: none;
}
