body.light-on {
  background-color: lightyellow;
}

body.light-off {
  background-color: #232223;
}

.container {
  margin: auto;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.circle-light-on {
  background: #faea84;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 20px 10px white;
}

.circle-light-off {
  background: rgb(57 63 70);
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
